[submodule "themes/smol"]
	path = themes/smol
	url = https://github.com/colorchestra/smol.git
[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
